/* All font-faces: */
@font-face {
	font-family: RoadGeek;
	src: url('fonts/Roadgeek 2005 Transport Medium.otf');
}

* { margin: 0; padding: 0; }

body {
	width: 100%;
	height: 100%;
}
#container {
	margin: 2px auto 2px auto;
}

/* Possible Modules */
#possibleModules {
	position: absolute;
	top: 0;
	left: 0;
}
#possibleModules li {
	list-style: none;
}

/* Modules */
#modules {
	
}
#modules .narrow {
	
}
#modules .wide {
	
}
